{% if section.settings.center_content_on_desktop %}
    {% assign alignment = 'center' %}
{% else %}
    {% assign alignment = 'left' %}
{% endif %}

<div class="footer-bottom homepage-sections-wrapper--{{ section.settings.color_scheme }} site-footer{% if template contains 'product' %}{% if settings.related_products_enable %}{% else %} product-sticker-stop{% endif %}{% endif %} footer-alignment--{{ alignment }}" data-wetheme-section-type="footer-bottom" data-wetheme-section-id="{{ section.id }}">
    <div class="wrapper-padded">
        <div class="bottom--footer">

            {% if section.settings.footer_text != blank %}
                <div class="footer-description footer-description--{{ alignment }} footer-article text-link-animated">
                    {{ section.settings.footer_text }}
                </div>
            {% endif %}

            <div class="bottom--footer-row{% if section.settings.show_methods_of_payment %} bottom--footer--payment-methods{% endif %}">
                <div class="bottom--footer---localization" style="text-align: center;">
                    {% if section.settings.show_locale_selector == true or section.settings.show_currency_selector == true %}
                        <div class="localization-form-wrapper">
                            {% render 'localization-form', show_locale_selector: section.settings.show_locale_selector, show_currency_selector: section.settings.show_currency_selector %}
                        </div>
                    {% endif %}
                    {% if alignment == 'left' %}
                        <div class="bottom--footer---copyright">
                            <ul class="bottom--footer---links">
                                <li class="nav-link-animated"><a href="{{ routes.root_url }}"><span class="animated-underline">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}</span></a></li>
                                <li class="nav-link-animated"><a href="https://f0ca6e-e1.myshopify.com/pages/privacy-policy" target="_blank"><span class="animated-underline">Privacy Policy</span></a></li>
                                <li class="nav-link-animated"><a href="https://f0ca6e-e1.myshopify.com/pages/term-of-use" target="_blank"><span class="animated-underline">Term of Use</span></a></li>
                               <li class="nav-link-animated"><a href="https://f0ca6e-e1.myshopify.com/pages/shipping-policy" target="_blank"><span class="animated-underline"> shipping, orders & return policy </span></a></li>
                                <li class="nav-link-animated--custom">{{ powered_by_link | replace: '<a', '<a class="animated-link--item"' }}</li>
                            </ul>
                        </div>
                    {% endif %}
                </div>

                {% if section.settings.show_methods_of_payment %}
                    {%- assign enabled_payment_types = shop.enabled_payment_types -%}

                    {% unless enabled_payment_types == empty %}
                    <ul class="inline-list payment-icons">
                        {% for type in shop.enabled_payment_types %}
                        {{ type | payment_type_svg_tag: class: 'payment-icon' }}
                        {% endfor %}
                    </ul>
                    {% endunless %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
